/* #common-rules# */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: auto;
    padding: 10px 15px;
}

.container-md{
    width: 80%;
    margin: auto;
}
 
/* #header# */
h1, img{
    display: inline-block;
    vertical-align: middle;
    font-size: 35px;
    width: 45px;
}
/* #/header# */

/* #main# */
/* #/main# */

/* #footer# */
/* #/footer# */
